@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, .menu-link {
  font-family: 'Playfair Display', serif;
}